<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @equipo.placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @equipo.modelo %>
</p>

<p>
  <strong>Seria:</strong>
  <%= @equipo.seria %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipo.marca %>
</p>

<p>
  <strong>Idestadoequipo:</strong>
  <%= @equipo.idestadoequipo %>
</p>

<p>
  <strong>Idtipoequipo:</strong>
  <%= @equipo.idtipoequipo %>
</p>

<p>
  <strong>Idarea:</strong>
  <%= @equipo.idarea %>
</p>

<p>
  <strong>Kilometrajeinicial:</strong>
  <%= @equipo.kilometrajeinicial %>
</p>

<p>
  <strong>Kilometrajeactual:</strong>
  <%= @equipo.kilometrajeactual %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
