<div class="container mt-3">
  <%= form_with(model: rol_opcion_operacione, local: true) do |form| %>
    <% if rol_opcion_operacione.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(rol_opcion_operacione.errors.count, "error") %> prohibited this rol_opcion_operacione from being saved:</h2>

        <ul>
        <% rol_opcion_operacione.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group row col-sm-4">
      
      <%= form.label :"Rol:" %>
      <% opciones = options_from_collection_for_select(@roles, "id","valor",rol_opcion_operacione.idrol) %>
      <%= form.select(:idrol, opciones,{},{class:"form-control"} ) %>  
      
    </div>
  <div class="form-group row col-sm-4">
      <%= form.label "Opcion:" %>
      <% opciones = options_from_collection_for_select(@opciones, "id","opcion",rol_opcion_operacione.opcione_id) %>
      <%= form.select(:opcione_id, opciones,{},{class:"form-control"} ) %> 
    </div>
    <div class="form-group row col-sm-4">
      <%= form.label "Operación:" %>
      <% opciones = options_from_collection_for_select(@operaciones, "id","valor",rol_opcion_operacione.idoperacion) %>
      <%= form.select(:idoperacion, opciones,{},{class:"form-control"} ) %> 
     
    </div>

    <div class="form-group row col-sm-4">
      <%= form.label "Estado:" %>
      <%= form.text_field :estadorolop, id: :rol_opcion_operacione_estadorolop, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit  "Guardar", :class=>"btn btn-secondary" %>
      <%= link_to 'Eliminar', rol_opcion_operacione, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
    </div>
  <% end %>
</div>
