<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo:</strong>
  <%= @consumo.equipo %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @consumo.persona_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consumo.fecha %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @consumo.comentario %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @consumo.kilometraje %>
</p>

<p>
  <strong>Cant:</strong>
  <%= @consumo.cant %>
</p>

<p>
  <strong>Numfactura:</strong>
  <%= @consumo.numfactura %>
</p>

<p>
  <strong>Idtipoconsumo:</strong>
  <%= @consumo.idtipoconsumo %>
</p>

<p>
  <strong>Idestadoconsumo:</strong>
  <%= @consumo.idestadoconsumo %>
</p>

<p>
  <strong>Idcategoriaconsumo:</strong>
  <%= @consumo.idcategoriaconsumo %>
</p>

<p>
  <strong>Idunidadmedida:</strong>
  <%= @consumo.idunidadmedida %>
</p>

<p>
  <strong>Idrubro:</strong>
  <%= @consumo.idrubro %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @consumo.valor %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @consumo.eliminado %>
</p>

<%= link_to 'Edit', edit_consumo_path(@consumo) %> |
<%= link_to 'Back', consumos_path %>
